<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="username" value="bitcoinrpc" />
    <add key="password" value="CHWrzJKN8Fy9kxcad6XPx1VieyFtR6QrZucQN7DYCjB7" />
    <add key="serverip" value="http://localhost.:8332" />-->
    <add key="username" value="testserver"/>
    <add key="password" value="testpsw"/>
    <add key="serverip" value="http://localhost.:18332"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="CoinMillionsModelContainer" connectionString="metadata=res://*/CoinMillionsModel.csdl|res://*/CoinMillionsModel.ssdl|res://*/CoinMillionsModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\CoinMillionsDB#1.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>